<html>
	<head>
	</head>
<body>
Hello world!<br/>

$!{value1}<br/>

## 这是注释，上面和这个都是velocity模板的语法，有什么使用问题查一下就行了

带叹号，如果model里这个值没有，不显示$!{value2}<br/>

不带叹号，如果model里这个值没有，显示${value3}<br/> 

遍历
#foreach($color in $colors)
	<p>Color: $!{foreach.index} / $!{foreach.count}:$!{color}</p>
#end
<br/>
#foreach($key in $map.keySet())
	<p>numbers: $!{key} : $map.get($key)</p>
#end

<p>-------------------</p>
#foreach($kv in $map.entrySet() )
	<p>numbers: $!{kv.key} : $!{kv.value}</p>
#end

<p>-------------------</p>
<p>获取对象属性Demo: $!{user.name} / $!{user.getName()}</p>


</body>
</html>