
#parse("common/header.html")
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 risk-manager">
            <h2>软件项目管理</h2>
            <table class="table waiter-list">
                <thead>
                <tr>
                    
                    <th>项目名称</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                #foreach($project in $projectList)
                <tr>
                	<td>$!{project.name}</td>
                	<td>$!{project.createTime}</td>
                	<td>$!{project.updateTime}</td>
                	<td>
                		<button type="button" onclick="location.href='riskList?projectId=$!{project.id}'"
                    		class="btn btn-warning pull-right fa fa-reorder"
                    		></button>
                    	<button type="button" onclick='deleteProject($!{project.id})'
                    		class="btn btn-warning pull-right fa fa-trash"></button>
                    	<button type="button" onclick='updateProject($!{project.id})'
                    		class="btn btn-warning pull-right fa fa-wrench"
                    		data-toggle="modal" data-target="#edit"></button>
                    	
                    </td>
                </tr>
				#end
                <tbody>
                </tbody>
            </table>
        </div>
        <div>
        <button class="btn btn-default btn-block fa fa-plus fa-3x" 
        		data-toggle="modal" data-target="#edit" onclick="addProject()"></button>
    	</div>
    	<br>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" onclick="clearAll()">×
                </button>
                <h4 class="modal-title" id="myModalLabel_1">
                  	  编辑项目
                </h4>
            </div>
            <form class="form-horizontal" role="form" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">项目名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name"
                                   placeholder="请输入名称" name="name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" onclick="clearAll()">
                        	取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="edit()">
                        	确认
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
	var operation;
	var projectId;
   function deleteProject(id) {
	   $.post('deleteProjectById',{projectId : id}, function (r) {
		   alert(r);
		   location.replace(location.href);
	});
   }
   
   function updateProject(id) {
	   operation = "update";
	   projectId = id;
	   $.get('getProjectById', {projectId:id}, function (r) {
			$('#name').val(r.name);
	});
   }

   function addProject() {
	   operation = "add";
   }
   function clearAll() {
	   $("#name").val('');
   }
   
   function edit() {
	   var valid = true;
	   var param = {};
	   if(operation == 'update') {
		   param.projectId = projectId;
	   }
	   param.name = $('#name').val();
	   if($.trim(param.name) == '') {
		   valid = false;
	   }
	   if(valid) {
		   $.post('editProject', param, function (r) {
				alert(r);
				location.replace(location.href);
			});
   		}	
   }
</script>
#parse("common/footer.html")
</body>
</html>