
#parse("common/header.html")
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 risk-manager">
            <h2>风险状态跟踪</h2>
            <p>风险内容：$!{risk.content}</p>
            <table class="table waiter-list">
                <thead>
                <tr>
                    <th>状态名</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                #foreach($riskStateTrace in $riskStateTraceList)
                <tr>
                	<td>$!{riskStateTrace.name}</td>
                	<td>$!{riskStateTrace.description}</td>
                	<td>$!{riskStateTrace.createTime}</td>
                	<td>$!{riskStateTrace.updateTime}</td>
                	<td>
                		
                    	<button type="button" onclick='deleteStateTrace($!{riskStateTrace.id})'
                    		class="btn btn-warning pull-right fa fa-trash"></button>
                    	<button type="button" onclick='updateStateTrace($!{riskStateTrace.id})'
                    		class="btn btn-warning pull-right fa fa-wrench"
                    		data-toggle="modal" data-target="#edit"></button>
                    	
                    </td>
                </tr>
				#end
                <tbody>
                </tbody>
            </table>
        </div>
        <div>
        <button class="btn btn-default btn-block fa fa-plus fa-3x" 
        		data-toggle="modal" data-target="#edit" onclick="addStateTrace()"></button>
    	</div>
    	<br>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" onclick="clear_all()">×
                </button>
                <h4 class="modal-title" id="myModalLabel_1">
                  	  编辑状态
                </h4>
            </div>
            <form class="form-horizontal" role="form" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">状态名:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name"
                                   placeholder="请输入名称" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">描述:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description"
                                   placeholder="请输入描述" name="description">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" onclick="clearAll()">
                        	取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="edit()">
                        	确认
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
	var operation;
	var riskStateTraceId;
   function deleteStateTrace(id) {
	   $.post('deleteRiskStateTraceById',{riskStateTraceId : id}, function (r) {
		   alert(r);
		   location.replace(location.href);
	});
   }
   
   function updateStateTrace(id) {
	   operation = "update";
	   riskStateTraceId = id;
	   $.get('getRiskStateTraceById', {riskStateTraceId:id}, function (r) {
			$('#name').val(r.name);
			$('#description').val(r.description);
	});
   }

   function addStateTrace() {
	   operation = "add";
   }
   function clearAll() {
	   $("#name").val('');
	   $('#description').val('');
   }
   
   function edit() {
	   var valid = true;
	   var param = {};
	   if(operation == 'update') {
		   param.riskStateTraceId = riskStateTraceId;
	   }
	   param.riskId = $!{risk.id};
	   param.name = $('#name').val();
	   param.description = $('#description').val();
	   
	   if($.trim(param.name) == '') {
		   valid = false;
	   }
	   if(valid) {
		   $.post('editRiskStateTrace', param, function (r) {
				alert(r);
				location.replace(location.href);
			});
   		}	
   }
</script>
#parse("common/footer.html")
</body>
</html>